* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.address > p {
  margin-left: 20px;
  font-family: sans-serif;
  color: grey;
  display: inline;
}
.banner > img {
  width: 100%;
  margin-bottom: 50px;
}
h2 {
  margin-left: 160px;
  margin-bottom: 50px;
  font-family: sans-serif;
}
.filters {
  display: grid;
  gap: 10px;
  margin-left: 160px;
  font-family: sans-serif;
}
.filters > h5 {
  color: gray;
  margin-bottom: 20px;
  margin-left: 10px;
}
#category {
  border: transparent;
  width: 200px;
}
#sizes {
  border: transparent;
  width: 225px;
}
#brand {
  border: transparent;
  width: 222px;
}
#color {
  border: transparent;
  width: 225px;
}
#design {
  border: transparent;
  width: 214px;
}
#fit {
  border: transparent;
  width: 245px;
}
#sleeve {
  border: transparent;
  width: 215px;
}
#neck {
  border: transparent;
  width: 227px;
}
#ratings {
  border: transparent;
  width: 209px;
}
#discount {
  border: transparent;
  width: 201px;
}
#sort {
  border: transparent;
  width: 212px;
}
.mainbox {
  width: 56%;
  height: auto;
  margin-left: 500px;
  margin-top: -400px;
  font-family: sans-serif;
  font-size: small;
  /* margin-top: -325px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.productbox {
  height: 500px;
}
.productbox > img {
  height: 70%;
  width: 100%;
}
