* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.address > p {
  margin-left: 20px;
  font-family: sans-serif;
  color: grey;
  display: inline;
}
.banner > img {
  width: 100%;
  margin-bottom: 50px;
}
h2 {
  margin-left: 160px;
  margin-bottom: 50px;
  font-family: sans-serif;
}
.filters {
  display: grid;
  gap: 10px;
  margin-left: 160px;
  font-family: sans-serif;
}
.filters > h5 {
  color: gray;
  margin-bottom: 20px;
  margin-left: 10px;
}
#category,
#sizes,
#brand,
#colors,
#design,
#fit,
#sleeve,
#neck,
#ratings,
#discount,
#sort {
  font-size: large;
  border: transparent;
  width: 170px;
  height: 20px;
}
.mainbox {
  border: 1px solid black;
  width: 60%;
  height: auto;
  margin-left: 400px;
  /* margin-top: -325px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.productbox {
  border: 1px solid black;
  height: 500px;
}
.productbox > img {
  height: 70%;
  width: 100%;
}
